<template name="step-4">
  <div style="text-align: center; padding: 64px 0;">
    <h1>당신은 지각?</h1>

    <div style="width: 960px; display: inline-block; padding: 64px 0;">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 25%;">이름</th>
            <th style="width: 25%;">계좌번호</th>
            <th style="width: 25%;">도착시간</th>
            <th style="width: 25%;">지각여부</th>
          </tr>
        </thead>
        <tbody style="text-align: left;">
          {{#each results}}
          <tr style="color:#f00">
            <td>{{username}}</td>
            <td>{{temp}}</td>
            <td>{{arrival}}</td>
            <td>{{comment}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div>
      <a href="./step-1" class="button-style" id="next">새로 시작하기</a>
    </div>
  </div>
</template>
