/* CSS declarations go here */

.button-style:link,
.button-style:hover,
.button-style:active,
.button-style:visited,
.button-style:focus {
  display: inline-block;
  padding: 16px 64px;
  font-size: 32px;
  background-color: #EEEEEE;
  color: #000;
}
